@import url('https://fonts.googleapis.com/css2?family=Lekton&display=swap');

body {
    margin: 0;
    /* height: 700vh; */
    font-family: Lekton, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.line-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
}

.line-section {
    position: relative;
}

section {
    min-height: 100vh;
    /* display: grid; */
    font-size: 2rem;
    /* place-content: center; */
}

#name {
    display: grid;
    place-content: center;
    text-align: center;
}

#section1 {
    display: grid;
    place-items: center;
}

#section1 p {
    text-align: center;
    color: white;
}


section:nth-child(odd) {
    /* green */
    /* background-color: rgb(88, 131, 131); */

    /* beige */
    background-color: rgb(232, 227, 214);
}

#section1 p {
    background-color: rgba(88, 131, 131, .3);
    background-color: rgba(232, 227, 214, .9);
    color: rgb(255, 255, 255);
    z-index: 2;
    text-align: center;
}

#section1,
#section2,
#section3 {
    /* display: flex; */
    place-content: inherit;
    text-align: center;
}



#svg1,
#svg2,
#svg3 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    color: aliceblue;
    display: inline-block;
    opacity: 0;
}

#svg2 {
    width: 150%;
}

img {
    width: 100%;
    height: 75%;
    z-index: 4;
    opacity: .7;
}